# Exercises I

## MCA171 Python Programming

### Department of Computer Science, Christ University Central Campus

In [1]:
"""
(1) Declare a python datatype list and do the following:
  (a) Write a Python program to sum all the items of the list.
  (b) Write a Python program to multiply all the items.
  (c) Write a Python program to get the largest number from a list.
  (d) Write a Python program to get the smallest number from a list.
"""

l = [1,2,3,4]
print(f'List l: {l}')

# (a)
print(f'Sum of all items in list: {sum(l)}')

# (b)
def prod_items(array):
  prod = 1
  for i in array:
    prod *= i
  return prod

print(f'Product of all items: {prod_items(l)}')

# (c)
print(f'Largest number of the list: {max(l)}')

# (d)
print(f'Smallest number of the list: {min(l)}')

List l: [1, 2, 3, 4]
Sum of all items in list: 10
Product of all items: 24
Largest number of the list: 4
Smallest number of the list: 1

In [2]:
"""
(2) Let A=[‘abc’, ‘xyz’, ‘aba’, 1221’] be a given string, and write a Python
    program that prints the string or strings and their index from the given list,
    ensuring that the first and last characters of the strings to be printed are
    identical.
"""

A=['abc', 'xyz', 'aba','1221']

for index, item in enumerate(A):
  if item[0] == item[-1]:
    print(f'index: {index}, string: {item}')

index: 2, string: aba
index: 3, string: 1221

In [3]:
"""
(3) Write a python program to print patterns given below:

     A
    A B
   A B C
  A B C D
 A B C D E

 *
 * *
 * * *
 * * * *
 * * * * *
"""

def alphabet_pyramid(num_rows):
  for i in range(num_rows):
    for j in range(num_rows - i - 1):
      print(' ', end='')

    for k in range(i + 1):
      print(chr(65+k), end=' ')

    print()

alphabet_pyramid(5)

def star_pattern(num_rows):
  for i in range(num_rows + 1):
    for j in range(i):
      print("*", end=' ')
    print()

star_pattern(5)

    A
   A B
  A B C
 A B C D
A B C D E

*
* *
* * *
* * * *
* * * * *

In [4]:
"""
(4) Write a Python program to convert the given list to a list of dictionaries.
ListColour= ["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000",
"800000", "FFFF00"]

Expected Output: {'colorName': 'Black', 'colorCode': '000000'}, {'colorName': 'Red', 'colorCode': 'FF0000'}, 
'colorName': 'Maroon', 'colorCode':'800000'}, {'colorName': 'Yellow', 'colorCode': 'FFFF00'}
"""
colorNames = ["Black", "Red", "Maroon", "Yellow"]
colorCodes = ["000000", "FF0000", "800000", "FFFF00"]

colorDictList = [ {'colorName': color, 'colorCode': code} for color, code in zip(colorNames, colorCodes) ]

print(colorDictList)

[{'colorName': 'Black', 'colorCode': '000000'}, {'colorName': 'Red', 'colorCode': 'FF0000'}, {'colorName': 'Maroon', 'colorCode': '800000'}, {'colorName': 'Yellow', 'colorCode': 'FFFF00'}]

In [5]:
"""
(5) Write a Python program to print all the even numbers and their squares
within the given range.
  (a) range(1,50)
  (b) range(1,100)
"""

for i in range(1, 50):
  if i % 2 == 0:
    print(f'Number is {i} and square is {i*i}')

print()

for i in range(1, 100):
  if i % 2 == 0:
    print(f'Number is {i} and square is {i*i}')

Number is 2 and square is 4
Number is 4 and square is 16
Number is 6 and square is 36
Number is 8 and square is 64
Number is 10 and square is 100
Number is 12 and square is 144
Number is 14 and square is 196
Number is 16 and square is 256
Number is 18 and square is 324
Number is 20 and square is 400
Number is 22 and square is 484
Number is 24 and square is 576
Number is 26 and square is 676
Number is 28 and square is 784
Number is 30 and square is 900
Number is 32 and square is 1024
Number is 34 and square is 1156
Number is 36 and square is 1296
Number is 38 and square is 1444
Number is 40 and square is 1600
Number is 42 and square is 1764
Number is 44 and square is 1936
Number is 46 and square is 2116
Number is 48 and square is 2304

Number is 2 and square is 4
Number is 4 and square is 16
Number is 6 and square is 36
Number is 8 and square is 64
Number is 10 and square is 100
Number is 12 and square is 144
Number is 14 and square is 196
Number is 16 and square is 256
Number is 18 and square is 324
Number is 20 and square is 400
Number is 22 and square is 484
Number is 24 and square is 576
Number is 26 and square is 676
Number is 28 and square is 784
Number is 30 and square is 900
Number is 32 and square is 1024
Number is 34 and square is 1156
Number is 36 and square is 1296
Number is 38 and square is 1444
Number is 40 and square is 1600
Number is 42 and square is 1764
Number is 44 and square is 1936
Number is 46 and square is 2116
Number is 48 and square is 2304
Number is 50 and square is 2500
Number is 52 and square is 2704
Number is 54 and square is 2916
Number is 56 and square is 3136
Number is 58 and square is 3364
Number is 60 and square is 3600
Number is 62 and square is 3844
Number is 64 and square is 4096
Number is 66 and square is 4356
Number is 68 and square is 4624
Number is 70 and square is 4900
Number is 72 and square is 5184
Number is 74 and square is 5476
Number is 76 and square is 5776
Number is 78 and square is 6084
Number is 80 and square is 6400
Number is 82 and square is 6724
Number is 84 and square is 7056
Number is 86 and square is 7396
Number is 88 and square is 7744
Number is 90 and square is 8100
Number is 92 and square is 8464
Number is 94 and square is 8836
Number is 96 and square is 9216
Number is 98 and square is 9604

In [6]:
"""
(6) Write a Python program to read a four-digit number and find its
(a) Sum of digits
(b) Reverse
"""

def four_digit_sum_reverse():
  num = int(input('Enter a four-digit number: '))
  temp = num

  num_length = len(str(num))
  if num_length != 4:
    print(f'{num} is not a four-digit number. Enter only a four-digit number.')
  else:
    sum = 0
    rev = 0
    while temp>0:
      digit = temp % 10
      sum += digit
      rev += digit * num_length
      temp //= 10
    print(f'Sum of digits of {num} is {sum}')
    print(f'Reverse of {num} is {rev}')

four_digit_sum_reverse()

Enter a four-digit number: 1234
Sum of digits of 1234 is 10
Reverse of 1234 is 40

In [7]:
"""
(7) Write a program to find the area of a triangle. Then find the area of two
arbitrary triangles by entering the three sides both using the input function
(input()). Print the total area enclosed by both triangles and each triangle’s
contribution (%) towards it.
"""
from math import sqrt

t1_a = float(input('Enter triangle 1 side a: '))
t1_b = float(input('Enter triangle 1 side b: '))
t1_c = float(input('Enter triangle 1 side c: '))

t2_a = float(input('Enter triangle 2 side a: '))
t2_b = float(input('Enter triangle 2 side b: '))
t2_c = float(input('Enter triangle 2 side c: '))

t1_s = (t1_a + t1_b + t1_c)/2
t2_s = (t2_a + t2_b + t2_c)/2

t1_area = sqrt(t1_s * (t1_s - t1_a) * (t1_s - t1_b) * (t1_s - t1_c))
t2_area = sqrt(t2_s * (t2_s - t2_a) * (t2_s - t2_b) * (t2_s - t2_c))

total_area = t1_area + t2_area

print(f'Total area enclosed by triangle 1 and 2: {total_area}')
print(f'Triangle 1 percent of total area: {(t1_area/total_area)*100}%')
print(f'Triangle 2 percent of total area: {(t2_area/total_area)*100}%')

Enter triangle 1 side a: 3
Enter triangle 1 side b: 4
Enter triangle 1 side c: 5
Enter triangle 2 side a: 6
Enter triangle 2 side b: 8
Enter triangle 2 side c: 10
Total area enclosed by triangle 1 and 2: 30.0
Triangle 1 percent of total area: 20.0%
Triangle 2 percent of total area: 80.0%

In [8]:
# Question 8
"""
(8) Given a dictionary containing the following information about 10 different
people:
Write a Python program that prints each person’s name, age, and blood
group in a formatted manner. Each person’s information should be separated
by a line of dashes (-).
"""
people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "O+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "O-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
]

for person in people:
  print(f'Name: {person["name"]}')
  print(f'Name: {person["age"]}')
  print(f'Name: {person["blood_group"]}')
  print('---------------------------------')

Name: John Doe
Name: 30
Name: A+
---------------------------------
Name: Jane Smith
Name: 25
Name: B-
---------------------------------
Name: Emily Davis
Name: 40
Name: O+
---------------------------------
Name: Michael Brown
Name: 35
Name: AB-
---------------------------------
Name: William Johnson
Name: 28
Name: A-
---------------------------------
Name: Emma Wilson
Name: 22
Name: B+
---------------------------------
Name: Oliver Martinez
Name: 33
Name: O-
---------------------------------
Name: Sophia Anderson
Name: 27
Name: AB+
---------------------------------
Name: James Thomas
Name: 45
Name: A+
---------------------------------
Name: Isabella Lee
Name: 38
Name: B-
---------------------------------

In [9]:
# Question 9
"""
(9) Write a Python program to extract the rear elements from a tuple string as
depicted in the following figure:

Input: ("python", "learn", "includehelp")

Output: ['n', 'n', 'p']
"""
tup = ("python", "learn", "includehelp")

def rear_element(tuple_in):
  output = []
  for i in tuple_in:
    output.append(i[-1])
  return output

print(rear_element(tup))

['n', 'n', 'p']

In [13]:
# Question 10
"""
(10) Declare a list/tuple containing all the twelve months. Write a Python program
that converts a month name entered via the Python console to the number
of days in that month (Consider leap year as well the code).
"""
months = ['January', 'February', 'March', 'April', 'May', 'June',
          'July', 'August', 'September', 'October', 'November', 'December']

def check_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

month_name = input('Enter the full month name: ')

if month_name.capitalize() in ['January', 'March', 'May', 'July', 'August', 'October', 'December']:
  print(f'The number of days in {month_name.capitalize()} is: 31')
elif month_name.capitalize() in ['April', 'June', 'September', 'November']:
  print(f'The number of days in {month_name.capitalize()} is: 30')
elif month_name.capitalize() == 'February':
  year = int(input('Enter the year: '))
  if check_leap_year(year):
    print(f'The number of days in {month_name.capitalize()} is: 29')
  else:
    print(f'The number of days in {month_name.capitalize()} is: 28')
else:
   print(f'"{month_name}" is not a name of a month. Enter a valid full month name.')

Enter the full month name: February
Enter the year: 2024
The number of days in February is: 29